.grid-container {
  resize: both;
  overflow: auto;
  display: grid;
  gap: 4px;
  padding: 4px;
  border: 1px solid grey;
  background-color: skyblue;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px 150px 150px;
}

.grid-item {
  background-color: #444;
  text-align: center;
  color: #ddd;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 12px;
}

p {
  margin: 12px auto 24px;
}

img {
  height: 60px;
}



/* more grid practice*/

.grid-container {
  grid-template-rows: repeat(2, min(200px, 50%));
  grid-template-columns: repeat(5, max(120px, 15%));
}
/* minmax(minimum-size, maximum-size) */    
.grid-container {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, minmax(150px, 200px));
}
/* clamp(minimum-size, ideal-size, maximum-size) 
can be used anywhere in the CSS*/
.grid-container {
  grid-template-rows: repeat(2, clamp(100px, 25%, 200px));
  grid-template-columns: repeat(5, clamp(120px, 20%, 200px));
}
/* auto-fit and auto-fill 
real magic happens when combined with minmax*/
.grid-container {
  grid-template-rows: repeat(2, clamp(100px, 25%, 200px));
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.grid-container {
  grid-template-rows: repeat(2, clamp(100px, 25%, 200px));
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
/* auto-fit collapses empty tracks, auto-fill does not */
