.container {
    display: grid;
    grid-template-columns: 50px 50px ;
    grid-template-rows: 50px 50px;
    grid-auto-rows: 50px;
    gap: 20px;
}
.container > div {
    border: 2px solid blue;
}
.item-1 {
    gr
}